.image_portada{
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24em;
}
.posicion_cart{
    /*margin-top: 17em;*/
    margin-top: 50%;

    
}
.position{
    display: flex;
    justify-content: center;
}