
.posicion_cart{
    /*margin-top: 17em;*/
    margin-top: 17em;

    
}
.position{
    display: flex;
    justify-content: center;
}
/*-----------------fondos de pantalla de spanish----------------------------*/
/*@media (min-width:1200px) {
    
}*/
@media  (min-width: 922px) {
    /*-------------------Estilo index------------------------*/
.image_portada{
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23em;
}
    /*---------------------fondos de contenedores de informacion---------------------*/
    .photo1{
        background-image: url(../img/fondo1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 42em;
    }
  
  .photo2{
    background-image: url(../img/fondo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 42em;
    }
    .p2{
        background-color: lightcoral;
        height:37em;
    }
}
@media  (min-width: 768px) and (max-width: 992px) {
                    /*-------------------Estilo index------------------------*/
.image_portada{
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
}
    /*---------------------fondos de contenedores de informacion---------------------*/
    .photo1{
        background-image: url(../img/fondo1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 55em;
    }
    .photo2{
        background-image: url(../img/fondo2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 70em;
    }
    .p2{
        background-color: lightcoral;
        height:37em;
    }
  }
  @media  (min-width: 576px) and (max-width: 768px) {
                /*-------------------Estilo index------------------------*/
.image_portada{
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 31em;
}
    /*---------------------fondos de contenedores de informacion---------------------*/
    .photo1{
        background-image: url(../img/fondo1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 55em;
    }
    .photo2{
        background-image: url(../img/fondo2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 70em;
    }
    .p2{
        background-color: lightcoral;
        height:37em;
    }
  
  }
  @media (max-width: 576px) {
          /*-------------------Estilo index------------------------*/
.image_portada{
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 34em;
}
    /*---------------------fondos de contenedores de informacion---------------------*/
    .photo1{
        background-image: url(../img/fondo1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 55em;
    }
    .photo2{
        background-image: url(../img/fondo2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 90em;
    }
    .p2{
        background-color: lightcoral;
        height:44em;
    }
  }


.photo3{
    background-image: url(../img/fondo3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 43em;
}
.photo4{
    background-image: url(../img/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 42em;
}
/*---------------Card Style -------------------------------------------------*/

.card_image{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card_image .card{
    width: 330px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.card_image .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card_image .card img{
  /*  display: block;
    margin: auto;*/
    width: 330px;
    height: 440px;
    
}


.card_image  .card h4{
    font-weight: 600;
}

.card_image  .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.card_image  .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/*---------------Contenedores personalizados-----------------------------*/
.contendor_info{
    margin-top: 44px;
    border-radius: 8px;
    opacity: 0.9;
}
.p1{
    background-color: white;
}
/*.p2{
    
    background-color: lightcoral;
    height:37em;
}*/
.p4{
    background-color: orange;
    height: 5em;
    border-radius: 8px;
    opacity: 0.9;
}

/*-----------Modal-------------------*/
.posicion_modal{
margin-top: 7em; /*14 es un tercio de 42*/
}

/*----------------Carousel-----------------*/
.image_carousel{
    width: 256px;
    height: 256px;
}

.caja_texto_oscura{
    background-color: grey;
    opacity: 0.7;
}
